/*Tailwind Directives*/
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*ALL @font-faces ARE FOR FONTS*/
@font-face
{
    font-family: 'Preahvihear';
    src:url("/Fonts/Preahvihear-Regular.ttf")
}

@font-face
{
    font-family: 'ArchivoBlack';
    src: url("/Fonts/ArchivoBlack-Regular.ttf");
}

@font-face
{
    font-family: 'BalsamiqSans';
    src: url("/Fonts/BalsamiqSans-Regular.ttf");
}